<!doctype html>
<head>
<meta charset="utf-8">
{% block title %}{% endblock %}

<!-- meta -->
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">
<!-- /meta -->

</head>

{% block title %}Casting Agency{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1>Casting Agency</h1>
		<p class="lead">Where magic and movies meet.</p>
		<h3>
		 We create movies and superstars ✨ 
		</h3>
	</div>
	<div class="col-sm-4 hidden-sm hidden-xs">
		<img id="front-splash" src="{{ url_for('static',filename='img/lalaland.jpg') }}" alt="Front Photo of Musical Band" />
	</div>
</div>
{% endblock %}
